// 覆盖样式
@import '/font/iconfont.css'
.theme-container
  display flex
  min-height 100vh
  flex-direction column

.home, .custom-layout, .page
  flex 1

.fix-footer
  height 7.2rem
  text-align center
  &.post-footer {
    padding-left 20rem
  }

@media screen and (max-width: 719px) {
  .fix-footer.post-footer {
    padding-left 0
  }
}

// 动画样式
.fade-enter-active,
.fade-leave-active {
  transition opacity .5s
}
.fade-enter,
.fade-leave-to {
  opacity 0
}

// 文章样式
.content blockquote {
  font-size 16px
}

// 代码块样式
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background none
}

code[class*=language-], pre[class*=language-] {
  text-shadow none
}

.content code {
  color #c7254e
  background #f9f2f4
}